
<div ng-init="action.listarCuentaSimple()">
   <div uni-panel="{type:'modal', size:'md', level:'primary'}">
    <header i18n="new,cuenta">
        Retirar Dinero
    </header>
    <form name="formNew" uni-validator="">
        <div replace="{_transaccionItem: 'data.transaccion'}" uni-part="part.retirar"></div>
    </form>
    <footer>
        <a ng-click="action.cancel('retirar')" uni-badge="" uni-confirm="cancel">Cancelar</a>
        <button ng-click="formNew.$validate() && action.retirar()" uni-badge="" uni-confirm="create">Retirar</button>
    </footer>
</div> 
</div>

